<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789246225687-2g4ac04bcoseinl106mo5pb1l6pdguvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789246225687-2g4ac04bcoseinl106mo5pb1l6pdguvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCj-7SXmL3waJMcNJEbZbS7dVDJxpLqFNs</string>
	<key>GCM_SENDER_ID</key>
	<string>789246225687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darianlow.Finstagram</string>
	<key>PROJECT_ID</key>
	<string>finstagram-29c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>finstagram-29c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789246225687:ios:7beef434b7ac9a09529b52</string>
</dict>
</plist>